<article>
  <h1 *ngIf="!currentProduct">Page non trouvée!</h1>  

  <h1 *ngIf="currentProduct" id="product-name">{{ currentProduct?.name }}</h1>
  <div *ngIf="currentProduct" class="row">
    <div class="col">
      <img id="product-image" alt="{{ currentProduct?.name }}" src="./assets/img/{{ currentProduct?.image }}">
    </div>
    <div class="col">
      <section>
        <h2>Description</h2>
        <p id="product-desc" [innerHTML]="currentProduct?.description">
        </p>
      </section>
      <section>
        <h2>Caractéristiques</h2>
        <ul id="product-features">
          <li *ngFor="let feature of currentProduct?.features" [innerHTML]="feature"></li>
        </ul>
      </section>
      <hr>
      <form class="pull-right" id="add-to-cart-form">
        <label for="product-quantity">Quantité:</label>
        <input #productCount class="form-control" id="product-quantity" name="product-quantity"
               type="number" value="1" min="1" required>&nbsp;
        <button (click)="addToCart()" class="btn" title="Ajouter au panier" type="submit">
          <i class="fa fa-cart-plus"></i>&nbsp; Ajouter
        </button>
      </form>
      <p>Prix: <strong id="product-price"> {{ currentProduct?.price | formatPrice }}&thinsp;$</strong></p>
    </div>
  </div>

  <div #confirmationDiv class="dialog" id="dialog" *ngIf="showConfirmation">
    Le produit a été ajouté au panier.
  </div>
  <div #confirmationDiv class="dialog" id="dialog" *ngIf="!showConfirmation" hidden>
      Le produit a été ajouté au panier.
  </div>
</article>
