* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}
main {
    max-width: 1200px;
    padding: 50px 20px 50px 20px;
    flex: 1 0 auto;
    align-self: center;
    box-sizing: border-box;
    width: 100%;
}

h1 {
    padding-bottom: 20px;
}

header {
    height: 60px;
    background-color: #14597f;
    border: 1px solid #0b2d3d;
}

footer {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #cccccc;
    background-color: #eeeeee;
    flex-shrink: 0;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin:auto;
}

header img {
    height: 60px;
}

header nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    height: 50px;
}

header a.active {
    background-color: #1fb5e9;
    border-radius: 4px;
}

.shopping-cart {
    color: #14597f;
    position: relative;
}

.count {
    background-color: #d9534f;
    color: #ffffff;
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    text-align: center;
}

.btn {
    background-color: #14597f;
    border: 1px solid #0b2d3d;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 25px;
}

.btn:hover {
    background-color: #1fb5e9;
    transition-timing-function: ease-out;
    transition: background-color 0.2s;
    cursor: pointer;
}

#home-image {
    display: block;
    float:right;
    height: 300px;
}


.products-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.flex25 {
    flex: 1 0 0;
}

.flex75 {
    flex: 3 0 0;
}

aside {
    padding-right: 50px;
}

.btn-group button:first-of-type{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.btn-group button:last-of-type{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 1px solid #999999; 
}

.selected {
    background-color: #ddf2fb;
}

.btn-group button {
    border: 1px solid #999999; 
    border-bottom: none;
    padding: 10px 24px; 
    cursor: pointer; 
    width: 100%; 
    display: block; 
}

#main-content {
    width: 100%;
    display:flex;
}

#products-list a {
    text-decoration: none;
}

.product-container {
    border: 1px solid #999999;
    width: 30%;
    border-radius: 4px;
    margin-bottom: 30px;
    justify-content: space-between;
    text-decoration: none;
}

.hover-gray:hover {
    background-color: #f3f3f3;
    transition-timing-function: ease-out;
    transition: background-color 0.2s; 
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.product-container p,
.product-container img,
.product-container h2 {
    text-decoration: none;
    color: #000000;
}

.product-container h2 {
    padding: 5px 0px 0px 5px;
    align-self: flex-start;
    font-size: 1em;
}

.product-container p:last-of-type {
    align-self: flex-end;
    padding: 0px 5px 5px 0px;
}

.product-container img {
    height: 50%;
    width: 50%;
    margin: auto;
}

.products-title-container {
    width: 100%;
    padding-bottom: 20px;
    justify-content: space-between;
}

.full-width {
    width: 100%;
}

.flex-wrap-space-between {
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-container {
    border: 1px solid #999999;
    width: 100%;
    text-align: center;
    border-radius: 4px;
}

.flex-contact-element {
    flex: 1 0 0;
    padding: 10px;
}

.flex-contact-element span.fa-stack {
    margin: auto;
    font-size: 50px;
}

.small-item {
    flex: 1 0 0;
}

.form-control {
    border: 1px solid #999999;
    border-radius: 4px;
}

.divider {
    margin-top: 20px;
    margin-bottom: 20px
}

.strech {
    width: 100%;
    align-content: stretch;
    align-items: stretch;
    justify-content: center;
    ;
}

.spread {
    justify-content: space-between;
}

.shopping-cart-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.shopping-cart-table td:first-child {
    width: 30px;
    padding-right: 20px;
}

.shopping-cart-table button {
    border-radius: 80px;
    background-color: #dddddd;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 4px;
}

.shopping-cart-table button:hover {
    background-color: #bbbbbb;
}

.shopping-cart-total {
    width: 100%;
    text-align: end;
    margin: 30px 2px;
}

td:last-child {
    text-align: end;
}

.table-header td,
.table-footer td {
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-bottom-width: 1px;
}

.table-header td {
    font-weight: bold;
}




