* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}
main {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    flex: 1 0 auto;
    padding-top: 50px;
    margin:0;
}

header {
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #14597f;
    border: 1px solid #0b2d3d;
}

footer {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #cccccc;
    background-color: #eeeeee;
    flex-shrink: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin:auto;
}

header img {
    height: 60px;
}

header nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    height: 50px;
}

header a.active {
    background-color: #1fb5e9;
    border-radius: 4px;
}

.shopping-cart {
    color: #14597f;
    position: relative;
}

.count {
    background-color: #d9534f;
    color: #ffffff;
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    text-align: center;
}

.btn {
    background-color: #14597f;
    border: 1px solid #0b2d3d;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 25px;
}

.btn:hover {
    background-color: #1fb5e9;
    transition-timing-function: ease-out;
    transition: background-color 0.2s;
}

#home-image {
    display: block;
    float:right;
    height: 300px;
}


.products-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.flex25 {
    flex: 1 0 0;
}

.flex75 {
    flex: 2 0 0;
}

aside {
    padding-right: 50px;
}

.btn-group button:first-of-type{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.btn-group button:last-of-type{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 1px solid #999999; 
}

.selected {
    background-color: #ddf2fb;
}

.btn-group button {
    border: 1px solid #999999; 
    border-bottom: none;
    padding: 10px 24px; 
    cursor: pointer; 
    width: 100%; 
    display: block; 
}

.btn-group button:hover {
    background-color: #f3f3f3;
    transition-timing-function: ease-out;
    transition: background-color 0.2s;
}




