extends layout.pug

block content
    main
        article
            h1 Panier

            if (cart == null)
                p Aucun produit dans le panier.
            else 
                #shopping-cart-container
                    table.table.shopping-cart-table
                        thead
                            tr
                                th
                                th Produit
                                th Prix unitaire
                                th Quantité
                                th Prix
                        tbody
                        each item in productsArray
                            tr
                                td
                                    button.remove-item-button X
                                td  
                                    span #{item.name}
                                td
                                    span prix #{item.price}
                                td 
                                    button.remove-quantity-button -
                                    span #{item.quantity}
                                    button.add-quantity-button +
                                td
                                    span Prix #{item.price * item.quantity}
                                    


                    p.shopping-cart-total
                        | Total: 
                        strong#total-amount
                    a.btn.pull-right(href='/order')
                        | Commander 
                        i.fa.fa-angle-double-right
                    button#remove-all-items-button.btn
                        i.fa.fa-trash-o
                        |   Vider le panier
block scripts
    script(type='text/javascript', src='/assets/scripts/products.service.js')